@import "tailwindcss";
@import "./theme.css";

/* Hide browser default password reveal and clear buttons (specifically in Microsoft Edge / IE) */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@keyframes smallbounce {

  0%,
  100% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(0);
  }
}

.animate-smallbounce {
  animation: smallbounce 3s infinite;
}